<section class="contenedor-paquetes dashboard-section">
    <div class="contact-title-wrap">
      <h2 class="contact-title-green">Paquetes Activos</h2>
    </div>
  
    <div class="paquete-container">
      <mat-card class="paquete-card" *ngFor="let pkg of paquetes">
        <mat-card-header>
          <mat-card-title>{{ pkg.name }}</mat-card-title>
          <mat-card-subtitle>{{ pkg.price | currency:'EUR' }}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <p>{{ pkg.description }}</p>
        </mat-card-content>
      </mat-card>
    </div>
  
    <div class="contenedor-edit-botton">
      <button mat-raised-button class="btn-contratar" [routerLink]="['/admin/packages/']">
        <mat-icon>edit</mat-icon>
        <span>Modificar paquetes</span>
      </button>              
    </div>
  </section>
  
