<mat-toolbar class="navbar-toolbar">
  <div class="navbar-left">
    <span class="logo">MARKETING</span>
    <nav class="nav-links-desktop">
      <button mat-button routerLink="/">Inicio</button>
      <button mat-button routerLink="/projectos">Proyectos</button>
      <button mat-button routerLink="/servicios">Servicios</button>
      <button mat-button routerLink="/contacto">Contacto</button>
      <button mat-button routerLink="/nuestro-proceso">Nuestro proceso</button>
    </nav>
  </div>
  <span class="spacer"></span>
  <div class="navbar-right">
    <!-- boton escribenos -->
   <app-btn-escribenos></app-btn-escribenos>
    <!-- Hamburguesa SOLO en mobile -->
    <button mat-icon-button class="menu-button" aria-label="Toggle menu" (click)="menuOpen = true">
      <mat-icon>menu</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Menú flotante solo para móvil -->
<div 
  class="mobile-menu" 
  *ngIf="menuOpen" 
  (click)="menuOpen = false"
>
  <nav (click)="$event.stopPropagation()">
    <button mat-button routerLink="/" (click)="menuOpen = false">Inicio</button>
    <button mat-button routerLink="/projectos" (click)="menuOpen = false">Proyectos</button>
    <button mat-button routerLink="/servicios" (click)="menuOpen = false">Servicios</button>
    <button mat-button routerLink="/contacto" (click)="menuOpen = false">Contacto</button>
    <button mat-button routerLink="/nuestro-proceso" (click)="menuOpen = false">Nuestro proceso</button>
  </nav>
</div>